body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #AAFF00;
	background-color:#990000;
	
text-shadow: 1px 1px #800000;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #330033;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #4d79ff;

}